h1 {
  color: blue;
}
h2 {
  color: red;
  font-style: italic;
}
p {
  font-family: sans-serif;
}
p.intro {
  width: 50%;
  font-style: italic;
}
p.author {
  width: 75%;
  font-style: italic;
}
.important {
  color: red;
  font-style: oblique;
}
